.lecture-details {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.lecture-details>* {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 20px;

    /* border: 1px solid #ccc; */
}

/* ----------------------------- */
.star-button {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    /* フォントサイズを調整 */
    color: gold;
    /* 星の色を調整 */
}

.star-button:hover {
    color: orange;
}

/* ----------------------------- */
.lecture-code-name {
    flex: 3;
    display: flex;
    flex-direction: column;
    /* ここで子要素の境界線が必要な場合は追加する */
}


/* ----------------------------- */
.teacher {
    flex: 3;
    list-style-type: none;
}

.teacher ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.teacher ul li {
    margin-bottom: 5px;
}

/* ----------------------------- */
/* .kaisetsuki-schedule {
    flex: 4;
} */

.kaisetsuki {
    flex: 2;
    word-break: keep-all;
    white-space: pre-wrap;
    /* 改行、空白、タブを保持しつつ、必要に応じて改行 */
}

.schedule {
    flex: 4;
    word-break: keep-all;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: none;
}

/* ----------------------------- */
.campus-language {
    flex: 2;
}

/* ----------------------------- */
.abstract {
    flex: 6;
    font-size: 0.5em;
}