.grid {
    /* border: 1px solid #000000; */
    border: 1px solid #eeeeee;
    /* color: #514f4d; */
    color: #eeeeee;
    overflow-y: hidden;
}

.cell {
    border-right: 1px solid #b0adab;
    border-bottom: 1px solid #b0adab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f3f2f2;
}

table {
    table-layout: auto
}