@import 'variables.css';
@import 'mixin.scss';

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
}

/* timetable */
#timetable {
  padding: 0 0.5rem 0.4rem 0.6rem;
  border-radius: 4px;
  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  opacity: 0;
  display: none;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.2s linear;

  div.line {
    height: 1.5rem;
    line-height: 1.5rem;

    div:first-child {
      width: 0.6rem;
      margin-right: 0.2rem;
    }

    div.day {
      width: 1.5rem;
    }
  }

  div.item {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }

  div.period {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.15rem;
    border-radius: 2px;
    box-shadow: var(--shallow-shadow);
    transition: background 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
    background: #fff;
    cursor: pointer;

    &.disabled {
      cursor: default;
      background: #ccc;
    }

    &.selected {
      margin: 0.2rem 0.15rem 0.15rem 0.15rem;
      box-shadow: none;
      background: var(--color-purple);
    }
  }

  p {
    text-align: center;
  }

  p.manual {
    line-height: 1em;
    margin: 0.5rem 0 0.2rem 0;
    font-size: 0.6rem;
  }

  p.special {
    margin: 0;
  }
}

#page {
  width: 1100px;
  margin: 0.5rem auto 0 auto;
  padding: 0 1rem;

  @include mobile {
    width: calc(100% - 2rem);
  }
}

footer {
  line-height: 1.8rem;
  text-align: center;
  margin: 1rem 0 2rem 0;

  @include mobile {
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include mobile {
      margin-left: 1rem;
    }
  }

  @include mobile {
    li {
      line-height: 1.6rem;
      font-size: 0.9rem;

      + li {
        margin-top: 0.4rem;
      }
    }
  }

  a {
    color: #666;
  }
}

form {
  position: sticky;
  top: 0;
}

/* Bookmark checkbox */
input[type='checkbox'].bookmark {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.7em;
  width: 1.7em !important;
  height: 1.7em;
  background: transparent;
  border-style: none;
  border-color: transparent;
  text-align: left;
  color: #aaa;
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 0.2em;
  cursor: pointer;

  &:before {
    content: '★';
    font-size: 1.7em;
  }

  &:checked {
    color: var(--color-purple);
  }
}
