#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}

.theme-switcher {
    position: absolute;
    top: 60px;
    /* 上端からの距離 */
    right: 10px;
    /* 右端からの距離 */
    z-index: 10;
    /* 必要に応じて調整 */
}